<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-roil-background-media-player" version="1.2.2"
        xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Background media player for ROIL app</name>
    <description>Plugin to play media in the background when the app is not in foreground</description>
    <author>The ROIL team &lt;jon@roil.com&gt;</author>
    <license>Apache 2.0</license>
    <js-module name="ROILBackgroundMediaPlayer" src="www/index.js">
        <merges target="cordova.plugins" />
    </js-module>
    <preference name="ANDROID_NOTIFICATION_APP_ICON" default="ic_notification" />
    <preference name="ANDROID_NOTIFICATION_PLAY_ICON" default="ic_play" />
    <preference name="ANDROID_NOTIFICATION_PAUSE_ICON" default="ic_pause" />
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ROILBackgroundMediaPlayer">
                <param name="android-package"
                       value="com.roil.cordova.plugin.backgroundmediaplayer.ROILBackgroundMediaPlayer" />
            </feature>
        </config-file>
        <source-file src="src/android/res/values/roil_background_player_settings.xml"
                     target-dir="res/values" />
        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
        </config-file>
        <config-file parent="/*/application" target="AndroidManifest.xml">
            <service android:name="com.roil.cordova.plugin.backgroundmediaplayer.ROILBackgroundMediaPlaybackService">
                <intent-filter>
                    <action android:name="android.media.browse.MediaBrowserService" />
                </intent-filter>
            </service>
        </config-file>
        <source-file src="src/android/java/com/roil/cordova/plugin/backgroundmediaplayer/ROILBackgroundMediaPlayer.java"
                     target-dir="src/com/roil/cordova/plugin/backgroundmediaplayer" />
        <source-file src="src/android/java/com/roil/cordova/plugin/backgroundmediaplayer/ROILBackgroundMediaPlaybackService.java"
                     target-dir="src/com/roil/cordova/plugin/backgroundmediaplayer" />
        <config-file target="app/src/main/res/values/roil_background_player_settings.xml" parent="/*">
            <string name="notification_app_icon">$ANDROID_NOTIFICATION_APP_ICON</string>
            <string name="notification_pause_icon">$ANDROID_NOTIFICATION_PAUSE_ICON</string>
            <string name="notification_play_icon">$ANDROID_NOTIFICATION_PLAY_ICON</string>
        </config-file>
        <config-file target="app/src/main/res/values/strings.xml" parent="/*">
            <string name="notification_pause_button_label">PAUSE</string>
            <string name="notification_play_button_label">PLAY</string>
        </config-file>
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="ROILBackgroundMediaPlayer">
                <param name="ios-package" value="ROILBackgroundMediaPlayer" />
            </feature>
        </config-file>
        <dependency id="cordova-plugin-add-swift-support" version="2.0.2"/>
        <source-file src="src/ios/ROILBackgroundMediaPlayer.swift" />
    </platform>
</plugin>
